<div class="container">
	<div class="row place-row">
		<div class="span5 place-title">
			<h3>Point of Interest</h3>
		</div>
		<div class="span2">
			<h3>Rating</h3>
		</div>
		<div class="span3">
			<h3>Picutes</h3>
		</div>
	</div>
	<% @spots.zip(@photo_url).each do |spot,photo| %>
		<div class="row place-row">
			<div class="span5 place-name">
				<%= spot.name %>
			</div>
			<div class="span2 place-details">
				<%= spot.rating %>
			</div>
			<div class="span3">
				<% if photo != nil %>
					<%= image_tag(photo, :alt => spot.name, :class => "circular") %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>


