<div class="container">
	<h4>Please Enter a City Below:</h4>
	<div class="row">
		<div class="col-md-10">
			<form action="/search" id="search_form" class="custom show-search-options form-inline">
			  <div class="input-wrapper">
			    <input type="text" class="location input-large input-contrast" autocomplete="off" id="query" name="query" placeholder="Enter City">
			  </div>

			  <button type="submit" class="btn btn-primary btn-large btn-contrast" id="submit_location">
			    Search
			  </button>
			</form>
			<span></span>
		</div>
	</div>
</div>