<div class="container">		
	<form action="/search" id="search_form" class="custom show-search-options form-inline">
		
		<div class="row">
			<div class="col-md-10">
				<div class="input-wrapper">
			    	<h4>Please Enter a City Below:</h4>
			    	<input type="text" class="location input-large input-contrast" autocomplete="off" id="query" name="city" placeholder="Enter City">
				</div>
			</div>
		</div>
		<h4>Please Select Categories:</h4>
		<div class="row categoryListRow">
			<ul class="category-list">
				<li>
					<input type="checkbox" name="museum"> Museums
				</li>
				<li>
					<input type="checkbox" name="kids"> Kids
				</li>
				<li>
					<input type="checkbox" name=""> Holy Sites
				</li>
				<li>
					<input type="checkbox" name="landmarks"> Landmarks, Iconic
				</li>
				<li>
					<input type="checkbox" name="food"> Restaurants
				</li>
			</ul>
			<div>
				<button type="submit" class="btn btn-primary btn-large btn-contrast" id="submit_location">
					Search
				</button>
			</div>
		</div>
	</form>
	<span></span>
</div>
