// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categoryList {
	list-style: none;
	text-align: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}